* {
	margin: 0;
	padding: 0;
}

body {
	width: 1440px;
	height: 1550px;
	margin: 0 auto;
	padding: 0;
	font-size: 12px;
	font-family: "微软雅黑";
	line-height: 1.333;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

li {
	list-style: none;
}

.bgDiv {
	z-index: -1;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-image: url(../images/bg1.png);
	background-position: center 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	-webkit-background-size: cover;
	/* 兼容Webkit内核浏览器如Chrome和Safari */
	-o-background-size: cover;
	/* 兼容Opera */
	zoom: 1;
}

#max {
	width: 1440px;
	height: 1550px;
	margin: 0 auto;
}

#max .nav {
	width: 1440px;
	height: 91px;
	background-color: rgb(196, 196, 196);
}

.nav .logo {
	width: 80px;
	height: 80px;
	padding-top: 5px;
	margin-left: 232px;
	margin-right: 60px;
	float: left;
}

.nav .word {
	font-size: 20px;
	color: white;
	width: 840px;
	height: 91px;
	float: left;
	background-color: rgb(255, 173, 75);
	box-shadow: 0px 1px 2px 0px rgba(179, 178, 179, 1);
}

.word .typewords {
	width: 840px;
	height: 91px;
	margin: 0 auto;
}

.word .typewords li {
	padding: 0;
	margin: 0;
	float: left;
	width: 20%;
}

.word .typewords a {
	display: block;
	height: 91px;
	font-size: 20px;
	color: white;
	line-height: 84px;
	text-align: center;
	letter-spacing: 6px;
}

.word .typewords a:hover,
.word .typewords .index a {
	background-color: rgb(51, 51, 51);
	text-decoration: none;
}

.daohang1 {
	margin-left: 60px;
	height: 20px;
}

.daohang {
	height: 30px;
	margin-left: 290px;
}

a:link {
	color: #333;
}

a:visited {
	color: red;
	text-decoration: none;
}

a:hover {
	color: #000000;
	text-decoration: none;
}

.fenge {
	margin-left: 60px;
	height: 35px;
	margin-top: 5px;
}

.zhuti {
	height: 21px;
	margin-left: 645px;
}

.zt {
	margin-left: 230px;
	height: 1230px;
	margin-right: 230px;
	background: url(../images/bj2.png);
	opacity: 0.5;
	filter: alpha(opacity=50);
}

.wb {
	margin-top: 100px;
	height: 250px;
	background: url(../images/bj2.png);
}

.gd {
	height: 1px;
}

.db {
	float: left;
	margin-left: 230px;
	height: 100px;
	margin-top: 100px;
}

.wzxs {
	float: left;
	margin-left: 110px;
	margin-top: -55px;
}

.d1 {
	margin-left: 20px;
	float: left;
	width: 110px;
	margin-top: 40px;
	height: 200px;
}

.w1 {
	margin-top: 75px;
	font-size: 20px;
	float: left;
}

.d2 {
	margin-left: 20px;
	float: left;
	width: 110px;
	margin-top: 35px;
	height: 200px;
}

.w2 {
	margin-top: 75px;
	font-size: 20px;
	float: left;
}

.d3 {
	margin-left: 20px;
	float: left;
	width: 85px;
	margin-top: 50px;
	height: 200px;
}

.w3 {
	margin-top: 75px;
	font-size: 20px;
	float: left;
}

.d3 {
	margin-left: 20px;
	float: left;
	width: 85px;
	margin-top: 50px;
	height: 200px;
}

.d3 {
	margin-left: 20px;
	float: left;
	width: 85px;
	margin-top: 50px;
	height: 200px;
}

.d3 {
	margin-left: 20px;
	float: left;
	width: 85px;
	margin-top: 50px;
	height: 200px;
}

.nr {
	float: left;
	margin-left: 400px;
}

.nr1 {
	float: left;
	margin-top: 5px;
}

.st {
	margin-top: 100px;
	margin-left: 55px;
	width: 200px;
	height: 400px;
}

.xqah {
	margin-left: 500px;
	margin-top: -295px;
	float: left;
}

.biaoti {
	float: left;
	margin-left: 100px;
	width: 30px;
	height: 25px;
}

.st1 {
	float: left;
}

.st01 {
	margin-top: 32px;
}

.biaoti1 {
	margin-top: -20px;
	float: left;
	margin-left: 140px;
	width: 100px;
	height: 50px;
}

.st2 {
	margin-top: -263px;
	width: 200px;
	margin-left: 200px;
	float: left;
}

.biaoti01 {
	margin-top: -23px;
	float: left;
	margin-left: 100px;
	width: 30px;
	height: 25px;
}

.biaoti02 {
	margin-top: -20px;
	float: left;
	margin-left: 10px;
	width: 100px;
	height: 50px;
}